div
	form(method='post', action='/take_test')
		input(type='text', name='user_name', placeholder='Enter Name')
		input(type='text', name='user_des', placeholder='Designation')
		input(type='submit', value='Save')