div
	h1 Add Question to Question Table
	form(method='post' action='/tests/questions/create')
		h4 New Question
		textarea(rows=10, cols= 10 placeholder='Enter Question text' name='question')
		input(type='text' name='option' placeholder='Option 1')
		input(type='text' name='option' placeholder='Option 1')
		input(type='text' name='option' placeholder='Option 1')
		input(type='text' name='option' placeholder='Option 1')

		input(type='text' name='answer' placeholder='answer')

		button(type='submit') Save
